@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* Hide the scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--foreground);
    color: var(--background);
  }
}
